# List

* List is a sequential data structure.

* Lists are collection of items(Strings, integers or even other lists)

* Lists are enclosed in [].

* Each item in the list has an assigned index value.

* Each item in a list is separated by a comma.

* Lists are mutable, ie they can be changed.

# List creation

In [5]:
emptyList = []

lst = ['one', 'two', 'three','four'] #list of strings

lst2 = [1,2,3,4] #list of integers

lst3 = [[1,2], [3,4]] #list of lists

lst4 = [1, 'Shyam', 24, 1.5] #list of different data types

print(lst4)

[1, 'Shyam', 24, 1.5]

# List length

In [6]:
lst = ['one', 'two', 'three','four']
print(len(lst))

4

# List append

In [7]:
lst = ['one', 'two', 'three','four']

lst.append('five')
print(lst)

['one', 'two', 'three', 'four', 'five']

# List insert

In [8]:
lst = ['one', 'two','four']
print(lst)

lst.insert(2,'three') # will add element y at location x
print(lst)

['one', 'two', 'four']
['one', 'two', 'three', 'four']

# List remove

In [9]:
lst = ['one', 'two', 'three','four','two']

lst.remove('two') #remove first occurence of two

print(lst)

['one', 'three', 'four', 'two']

# List append and extend

In [10]:
lst = ['one', 'two', 'three','four']
lst2 = ['five', 'six']

lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [11]:
lst = ['one', 'two', 'three','four']
lst2 = ['five', 'six']

lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

# List delete

In [15]:
#del based on index position
lst = ['one', 'two', 'three','four','five']

del lst[1]
print(lst)

# or we can use the pop() method

a = lst.pop(1)
print(a)
print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [16]:
lst = ['one', 'two', 'three','four','five']

lst.remove('three')
print(lst)

['one', 'two', 'four', 'five']

# Keywords related to List( in)

In [19]:
lst = ['one', 'two', 'three','four']

if 'two' in lst:
    print("AI")
    
# the kyword not can be combined

if 'six' not in lst:
    print("ML")

AI
ML

# List reverse

In [20]:
#reverse() reverses the entire list

lst = ['one', 'two', 'three','four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

# List sorting

 The easiest way is to use sorted(list) function

 that takes a list and returns a new list with the sorted elements

The original list is not changed

 the optional keyword reverse=True sorts it backwards

In [24]:
#create a list with n numbers
numbers = [1,2,78,45,21]

sorted_list= sorted(numbers)

print("Sorted list", sorted_list)
print("Original list", numbers)

Sorted list [1, 2, 21, 45, 78]
Original list [1, 2, 78, 45, 21]

In [27]:
print("Reverse sorted list", sorted(numbers,reverse = True))

#original list remains unchanged

print("Original list", numbers)

Reverse sorted list [78, 45, 21, 2, 1]
Original list [1, 2, 78, 45, 21]

In [29]:
lst = [ 43,67,4,56,98.6]

#sort the list and store it in itself

lst.sort()
print("Sorted list", lst)

Sorted list [4, 43, 56, 67, 98.6]

# List having multiple references

In [31]:
lst= [1,2,3,4,5]
abc = lst;

abc.append(6)

print("Original list", lst)

Original list [1, 2, 3, 4, 5, 6]

# String split to create a list

In [34]:
s = "one,two,three,four,five"

s_lst= s.split(',')
print(s_lst)

print(s)

['one', 'two', 'three', 'four', 'five']
one,two,three,four,five

In [36]:
s = "Have a great day"
s1_lst = s.split() # default split using space
print(s1_lst)

['Have', 'a', 'great', 'day']

# List indexing

In [39]:
lst = [1,2,3,4]
print(lst[1])

print(lst[-1])
print(lst[-2])

2
4
3

# List slicing

In [42]:
# accesing parts of segments is known as slicing
numbers = [10,20,30,40,50,60,70,80]

#print all numbers
print(numbers[:])

#print from index 0 to 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [44]:
print(numbers[::2]) #step size of 2

[10, 30, 50, 70]

In [45]:
print(numbers[2::2])

[30, 50, 70]

# List extend using +

In [46]:
lst1 = [1,2,3,4]
lst2 = ["one","two","three","four"]

new_lst = lst1+lst2;
print(new_lst)

[1, 2, 3, 4, 'one', 'two', 'three', 'four']

# List count

In [50]:
numbers = [1,2,3,4,5,6,7,8,3]


#frequency of 1 in the list
print(numbers.count(1))

#frequency of 3 in the list
print(numbers.count(3))

1
2

# Looping through a list

In [53]:
lst = ["one","two","three","four"]

for ele in lst:
    print(ele)

one
two
three
four

# List comprehension

In [55]:
# Without using list comprehension
squares = []
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
# using list comprehension
squares =[i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
#filter the list to exclude negative values

lst =[-1,-2,-3,10,2,30,0]

new_list = [i for i in lst if i>=0]

print(new_list)

[10, 2, 30, 0]

In [60]:
#Create a list of tuples (number , square)

new_lst = [(i ,i*i) for i in range(10)]

print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [61]:
#matrix
matrix = [
    [1,2,3,4,],
    [5,6,7,8],
    [9,10,11,12]
]

#transpose of a matrix without list comprehension

transposed =[]
for i in range(4):
    lst =[]
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [62]:
#with list comprehension
transposed =[ [row[i] for row in matrix ] for i in range(4) ]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]