# Tuple

* A tuple is similar to list

* The difference between the two is that we cannot change the elemets of a tuple after assignment, whereas in list 
it could be changed

* tuples - immutable

# Tuple creation

In [1]:
#empty tuple
t =()

#tuple having integers

t = (1,2,3)
print(t)

#tuple with mixed datatype
t =(1,'Mohan',28,'abc')
print(t)

#nested tuple
t = (1, (1,2,3), [1,'Mohan',28,'abc'])
print(t)

(1, 2, 3)
(1, 'Mohan', 28, 'abc')
(1, (1, 2, 3), [1, 'Mohan', 28, 'abc'])

In [2]:
#only parantheses are not enough
t = ('Rahul')
type(t)

str

In [3]:
#, needed
t = ('Rahul',)
type(t)

tuple

In [6]:
# the parantheses is optional- If you have more than one element then no problem
t = 'Rahul',
print(type(t))
print(t)

<class 'tuple'>
('Rahul',)

# Accessing elements in a tuple

In [7]:
t = ('Ram', 'Gopal', 'Hari', 'Neena')
print(t[1])

Gopal

In [11]:
#nested tuple
t = (1, (1,2,3), [1,'Mohan',28,'abc'])
print(t[1])

print(t[2][1])

print(t[-1])#print last element
print(t[-1][2])

(1, 2, 3)
Mohan
[1, 'Mohan', 28, 'abc']
28

In [12]:
#Slicing
t = (1,2,3,4,5,6)
print(t[1:4])

(2, 3, 4)

In [13]:
#print elements from start to second last element
print(t[:-2])

(1, 2, 3, 4)

In [14]:
#print elements from starting to end
print(t[:])

(1, 2, 3, 4, 5, 6)

# Changing a tuple

In [15]:
t = (1,2,3,4)
t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [16]:
t = (1,2,3,4, [5,6,7])

t[4][1]= 'Good'

print(t)

(1, 2, 3, 4, [5, 'Good', 7])

# list is mutable. Tuple is immutable

# Tuple deletion

In [19]:
# Delete entire tuple using del keyword
t = (1,2,3,4,5,6)

del t

# Tuple count

In [20]:
t = (1,2,2,1,4,3)
t.count(1) # frequency of 1

2